<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- usersビューのコードの中から@usersオブジェクトを自動的に見つけ出し、それから他のページにアクセスするためのページネーションリンクを作成 -->
<!-- ページ切り替えの表示 -->
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<!-- ページ切り替えの表示 -->
<%= will_paginate %>